<div>
  <h1>My project</h1>
  <!--<label><a routerLink="" routerLinkActive=""></a></label>-->
  <table>
    <tr>
      <th>Id</th>
      <th>name</th>
      <th>last Name</th>
      <th>address</th>
      <th>city</th>
      <th>country</th>
      <th>email</th>
      <th></th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{user.address}}</td>
      <td>{{user.city}}</td>
      <td>{{user.country}}</td>
      <td>{{user.email}}</td>
      <td><button (click)="delete(user.id)">Delete</button><a routerLink="/main/{{user.id}}">Update</a></td>
    </tr>
  </table>

  <label><a routerLink="/add" routerLinkActive="active" >Create user</a></label>
  <router-outlet></router-outlet>
</div>
